{% extends '::base.html.twig' %}

{% block title %}My products{% endblock %}

{% block form %}
	<form action="{{ path('triton_store_new') }}" method="post" {{ form_enctype(form) }} novalidate>
	{{ form_widget(form) }}
	<input type="submit" />
	</form>
{% endblock %}