{% extends '::base.html.twig' %}

{% block title %}My product{% endblock %}

{% block body %}
    
        <h2>{{ name }}</h2>
        <p>{{ description }}</p>
        <p>{{ category }}</p>
    
{% endblock %}