{% extends '::base.html.twig' %}

{% block title %}My products fuck{% endblock %}

{% block body %}
    {% for product in products %}
        <h2>{{ product.name }}</h2>
        <p>{{ product.price }}</p>
        <p>{{ product.category }}</p>
    {% endfor %}
{% endblock %}