<!DOCTYPE html>
<html>
    <head>
        <title>fuck off</title>
    </head>
    <body>
        <h1>{{ name }}</h1>

        <ul id="navigation">
            
                <li><a href="/tets">Hello {{ name }}</a></li>
            
        </ul>
    </body>
</html>